<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>image Manager</title>
<link rel="stylesheet" href="../static/style/style.css" />
</head>
<body>
  <header class="container">
<div>
    <h1 class="titulo"><b>Image Manager </b></h1>
    <p class=" text1">CARGA DE ARCHIVOS FOTOGRÁFICOS EN SEGUNDOS</p>
    <h2>Subir 50+ de Imágenes</h2> 
    <input type="file" id="inputImagenes" accept="image/*" multiple>
</div>
<div class="preview-container" id="previewContainer"></div>
    <div class="progress-container" id="progressContainer">
        <div class="progress-track">
            <div class="progress-bar" id="progressBar">0%</div>
        </div>
        <div class="progress-buttons">
            <button id="cancelButton">Cancelar</button>
            <button id="retryButton">Reintentar</button>
        </div>
        <div id="errorMessage" class="error-message"></div>
        <div id="successMessage" class="success-message"></div> 
    </div>
</header>
<div class="container-datos">
    <form action ="#" method="post" class = "formulario_datos_personales " id="formDatos" > 
        <h2>datos personales </h2>
        <label for="nombre" class = "nombre-text">
            <h2>Nombres:</h2>
        </label>  
            <input type="text" id="nombre" name="nombre" placeholder="nombres">
        <label for="apellido" class = "apellido-text">
            <h2>Apellidos:</h2>
        </label>
            <input type="text" id="apellido" name="apellido" placeholder="apellidos">
        <label for="correo" class = "correo-text">
            <h2> Correo:</h2>
        </label>
         <input type="email" id="correo" name="correo" placeholder="correo">
        <label for="telefono" class = "telefono-text">
                <h2>Telefono:</h2> 
        </label>
        <input type="tel" id="telefono" name="telefono" placeholder="telefono">
             <input type="submit" value="Enviar" class="enviar-button">
             <div id= "mensajeError" class="mensaje-error"></div>
    </form>
</div>
<main>
    <label for="tamaño" class="tamaños-fotos"><h2>Elije los tamaños:</h2></label>
    <select id="tamaño" name="tamano[]" multiple>
        <option value="TAMAÑO1">Instax(5x8cm)</option>
        <option value="TAMAÑO2">Polaroid(8x8cm)</option>
        <option value="TAMAÑO3">10x10cm</option>
        <option value="TAMAÑO4">10x15cm(4R)</option>
        <option value="TAMAÑO5">13x18cm(5R)</option>
        <option value="TAMAÑO6">15x15</option>
        <option value="TAMAÑO7">15x21cm(6R)</option>
        <option value="TAMAÑO8">20x20cm</option>
        <option value="TAMAÑO9">20x25cm(8R)</option>
        <option value="TAMAÑO10">20x30cm</option>
    </select>

    <form action="#" method="post" class="tipo_de_papel">

        <h2 class="text-tipo-papel">Elige el tipo de papel:</h2>
    
        <div class="opciones-papel">
            <input type="radio" id="papel1" name="papel" value="brillante">
            <label for="papel1">Papel Fotográfico Brillante</label>
    
            <input type="radio" id="papel2" name="papel" value="mate">
            <label for="papel2">Papel Fotográfico Mate</label>
        </div>
    
    </form>

    
  

</main>

<footer>&copy; 2026 Todos los derechos reservados
    <a class ="direccion" href="https://www.google.com/maps/place/Manta+Color/data=!4m2!3m1!1s0x0:0x91e1a40e9dd4f55b?sa=X&ved=1t:2428&ictx=111">Dirección: C. 13, Manta

    </a>
</footer>
<script   src="../static/script/main.js"></script>
<script   type ="module" src="../static/script/db.js"></script>
<script   type ="module" src="../static/script/formulario_clientes.js"></script>
</body>
</html>
